#today{
	position: relative; 
   width: 33%;
   display: inline-block;
}

#tomorrow{
	position: relative; 
	width: 33%;
	display: inline-block;

}

#thirdday{
	position: relative; 
	width: 33%;
	display: inline-block;
}

.icons{
	display: block;
	position: absolute;
    right: 0px;
	left: 0px;
	padding:30px;
    display: table;
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
}

.icon{
	width: 100%;
}